
@{
    ViewBag.Title = "Index";
    Layout = null;
}


<body class="img js-fullheight" width="1280" height="720" style="background-image: url(/Content/404newPage.png); background-size: cover; background-position:top ">

    </body>
